body {
  font-family: Open Sans, Arial, sans-serif;
  margin: 0px;
  min-width: 320px;
}

h1 {
  margin: 0;
  width: 100%;
  display:flex;
  flex-direction: column;
}

h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

.welcome {
  background-image: url("../img/football_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  padding-bottom: 110px;
}

.surface-logo {
  width: 192px;
}

.surface-logo-container {
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
  z-index: 4;
}

.welcome::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.welcome__container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-top: 45px;
}

.title {
  width: 81%;
  max-width: 1558px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 287px;
  display: flex;
  align-items: center;
  flex-direction: column;
 }

.welcome-title-second {
  text-align: right;
  line-height: 0.95em;
  display: block;  
 } 

.welcome-title {
  text-transform: uppercase; 
  font-size: 5.62em;
  line-height: 0.95em;
  display: flex;
}

.get-app {
  display: flex;
  width: 39.06%;
  max-width: 751px;
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 220px;
  position: relative;
}

.apple-logo {
  flex-shrink: 1;
  width: 50px;
  margin-bottom: 2px;
}

.google-play-logo {
  flex-shrink: 1;
  width: 41px;
  margin-bottom: 2px;
}

.button-container {
  width: 44.9%;
  display: flex;
}

.app-store-button, .google-play-button {
  background-color: #5e42b0;
  border-radius: 37px;
  height: 77px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding-left: 35px;
  display: flex;
  box-sizing: border-box;
  flex-grow: 2;
}

.app-store-button:hover {
  background-color: #6748c2; 
}

.google-play-button:hover {
  background-color: #6748c2; 
}

.button-span-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.store-name {
  font-weight: 700;
}

.main__layout {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
}

.section-headline {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  color:#e7e7e7;
  margin-bottom: 20px;
}

.section-headline-right, .section-headline-left {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  color: #e7e7e7;
  margin-bottom: 20px;
  margin-left: 51.8%
}

.section-headline-left {
  margin-left: 9.6%;
  margin-top: 100px;
}


.footballer {
  position: absolute;
  right: 50%;
  top: 0;
}

.headline-and-counter {
  display: flex;
  align-items: center;
  
}
  
.headline-and-counter-nth {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.counter, .counter-inverted, .counter-inverted-players {
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 13px;
} 

.counter::after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 5px;
  width: auto;
  margin-top: 2px;
  background-color: #5e42b0;
  border-radius: 2px;
} 

.counter-inverted::after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 5px;
  width: auto;
  margin-top: 2px;
  background-color: #efefef;
  border-radius: 2px;
} 

.counter-inverted-players::after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 5px;
  width: auto;
  margin-top: 2px;
  background-color: #efefef;
  border-radius: 2px;
}
  
.counter-inverted-players {
  color: #9173e6;
}

.feature-headline {
  text-transform: uppercase;
  font-size: 2.25em;
  color: #c1c1c1;
  font-weight: 700;
  margin: 0;
}

.main-text, .main-text-inverted {
  letter-spacing: 0.065em;
  margin-top: 20px;
  margin-bottom: 0;
}

.main-text-inverted {
  color: #fff;
}

.athlets {
  padding-top: 80px;
  position: relative;
}

.athlets-connection {
  padding-left: 52%;
  padding-bottom: 45px;
  padding-right: 10%;
  margin-top: 75px; 
}

.athlets-collaboration {
  padding-left: 52%;
  padding-bottom: 45px;
  background-color: #f6f4fa;
  padding-right: 10%; 
}

.athlets-growth {
  padding-left: 52%;
  padding-bottom: 45px;
  background-color: #5e42b0;
  padding-right: 10%; 
}

.basketballer {
  position: absolute;
  left: 42.3%;
}

.players-connection {
  padding-left: 9.9%;
  padding-bottom: 45px;
  padding-right: 60%; 
  margin-top: 65px; 
}

.players-collaboration {
  padding-left: 9.9%;
  padding-bottom: 45px;
  background-color: #f6f4fa;
  padding-right: 50%; 
}

.players-growth {
  padding-left: 9.9%;
  padding-bottom: 45px;
  background-color: #0a0e34;
  padding-right: 50%; 
}

.step {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.step-picture-card {
  width: 50%; 
  object-fit: cover;
  display: flex;
  
}

.step-picture-card-wide {
  width: 100%;
  object-fit: cover;
}


.step-text {
  padding-bottom: 12%;
  padding-top: 11.2%;
  padding-left: 6.7%;
  padding-right: 10%;
  display:block;
  width: 50%;
  box-sizing: border-box;
}

.step-text-left {
  padding-bottom: 12%;
  padding-top: 11.2%;
  padding-left: 6.7%;
  padding-right: 6.7%;
  display:block;
  width: 50%;
  box-sizing: border-box;
}

.main-text-large {
  letter-spacing: 0.065em;
  margin-top: 48px;
  margin-bottom: 0;
  font-size: 1.25em; 
}

.counter-large  {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  color: #f5f6f7;
} 

.counter-large::after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 5px;
  width: auto;
  margin-top: 2px;
  background-color: #8f7bc8;
  border-radius: 2px;
}

.step-count {
  position: absolute;
  left: calc(50% - 129px/2);
  top: 28.9%;
  box-sizing: border-box;
  padding: 2.6em 3.2em;
  display: flex;
  background-color: #5e42b0;
  z-index: 3;
}

.download-app {
  background-image: url("../img/game_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  padding-bottom: 110px;
}


.download-app::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.download-app {
  padding-top: 220px;
  padding-bottom: 50px; 
}

.download-app-title {
  width: 870px;
  display: flex;
  flex-wrap: wrap;
  
  z-index: 4;
  align-items: center;
  justify-content: center;
}

.download-app-header {
  text-transform: uppercase; 
  font-size: 5em;
  margin: -0.15em;
}

.download-app-slogan {
  font-size: 2.15em;
  color: #a496ca;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: -8px;
}

.surface-app-icon {
  border-radius: 23px;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  z-index: 4;
  display: flex;
  background: linear-gradient(#7656d6, #50379b);
  position: relative;
}

.icon-path {
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto; 
}

.header-container {
  margin-left: 40px;
}

.surface-logo-cont-footer {
  margin-top: 262px;
  display: flex;
  z-index: 4;
}

.get-app-footer {
  display: flex;
  width: 39.06%;
  max-width: 751px;
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 150px;
}

/* !!!!!!!!! MEDIA !!!!!!!!!!!!!*/

@media (min-width: 641px) and (max-width: 960px) {
  .welcome {
    background-image: url("../img/football_1280.jpg");
  }

  .welcome-title {
    font-size: 4em;
    line-height: 0.95em;
  }

  .surface-logo {
    width: 206px;
  }

  .welcome__container {
    padding-top: 0;
  }

  .surface-logo-container {
    margin-left: 50%;
    margin-right: 50%;
    display: flex;
    z-index: 4;
    margin-top: 40px;
  }

  .title {
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
 }

 .welcome-title-second {
   text-align: left;
   line-height: 0.95em;
   display: block; 
   margin-left: 15.4%; 
   margin-top: 10px;
 } 

.section-headline-right {
  margin-left: 38%;
}

.section-headline-left {
  margin-left: 3.7%;
  margin-top: 55px;
}

  .feature-headline {
    font-size: 2em;
  }

  .athlets {
    padding-top: 35px;
    position: relative;
  }

  .footballer {
    margin-top: 70px;
    right: 57.5%;
  }

  .headline-and-counter {
    margin-top: 0; 
  }
  
  .headline-and-counter-nth {
    padding-top: 0;
  }

  .athlets-connection {
    padding-left: 38.1%;
    padding-bottom: 40px;
    padding-right: 6.25%; 
    margin-top: 0;
  }

  .athlets-collaboration {
    padding-left: 38.1%;
    padding-bottom: 40px;
    padding-right: 6.25%;
    padding-top: 35px;
  }

  .athlets-growth {
    padding-left: 38.1%;
    padding-bottom: 40px;
    padding-right: 6.25%; 
    padding-top: 35px;
  }

  .basketballer {
    position: absolute;
    right: 0px;
    margin-top: -10px;
  }

  .players-connection {
    padding-left: 4.16%;
    padding-bottom: 30px;
    padding-right: 45.9%; 
    padding-top: 10px;
    margin-top: 0;
  }

  .players-collaboration {
    padding-left: 4.16%;
    padding-bottom: 30px;
    padding-right: 45.9%; 
    margin-top: 20px;
    padding-top: 35px; 
  }

  .players-growth {
    padding-left: 4.16%;
    padding-bottom: 30px;
    padding-right: 45.9%; 
    padding-top: 35px;
  }

  .step {
    flex-wrap: wrap;
  }

  .step-picture-card {
    object-fit: cover;
    display: flex;
    height: 585px;
    width: 100%;
    order: -1;
  }

  .step-count {
    position: absolute;
    top: 505px;
    left: 32px;
    box-sizing: border-box;
    padding: 2.38em 2.8em;
    background-color: #5e42b0;
    z-index: 3;
    display: flex;
  }

  .step-text {
    padding-bottom: 62px;
    padding-top: 62px;
    padding-left: 4.16%;
    padding-right: 10%;
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .step-text-left {
    padding-bottom: 62px;
    padding-top: 62px;
    padding-left: 4.16%;
    padding-right: 10%;
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .main-text-large {
    font-size: 1.5em; 
    margin: 0;
  }

  .download-app {
    background-image: url("../img/game_1280.jpg");
    padding-bottom: 23px;
  }

  .download-app-title {
    width: 91.6%;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0; 
  }
 
  .header-container {
    margin-top: 70px; 
    margin-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column; 
 }

   .button-container {
    width: 40.5%;
    display: flex;
  }

  .get-app-footer {
    width: 91.6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 220px;
    min-width: 639px;
  }

  .surface-logo-cont-footer {
    margin-top: 55px;
  }
}

@media (min-width: 641px) and (max-width: 700px) {
  .download-app-header {
    font-size: 4em;
    margin: -0.15em;
  }

  .download-app-slogan {
    font-size: 1.75em;
  }
}

@media (max-width: 640px) {
  .welcome {
    background-image: url("../img/football_767.jpg");
    padding-top: 32px;
    padding-bottom: 84px;
  }

  .welcome__container {
    padding-top: 0;
  }

  .welcome-title {
    font-size: 1.75em;
    line-height: 0.95em;
  }

 .welcome-title-second {
    margin-top: 20px;
    margin-left: 15.8%; 
    text-align: left;
 }

  .surface-logo {
    width: 135px;
  }

  .surface-logo-container {
    margin-top: 0;
  }

  .title {
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
 }

  .get-app {
    display: flex;
    width: 87.5%;
    max-width: 320px;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
  }

  .apple-logo {
    width: 22px;
    margin-bottom: 2px;
  }

  .google-play-logo {
    width: 21px;
    margin-bottom: 2px;
  }

  .button-container {
    width: 100%;
    display: flex;
  }

  .app-store-button, .google-play-button {
    height: 35px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-top: 14px; 
    padding-left: 29%
  }

  .button-span-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9px;
  }

  .get-on-store {
    font-size: 0.5em;
  } 

  .store-name {
    font-weight: 700;
    font-size: 0.5em;
  }

  .main__layout {
    margin-top: 8px;
  }

  .section-headline-right {
    font-size: 3.13em;
    display: flex;
    order: -1;
    margin-left: 6.25%;
    margin-bottom: 0;
  }

  .section-headline-left {
    font-size: 3.13em;
    display: flex;
    order: -1;
    margin-left: 6.25%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .feature-headline {
    font-size: 2em;
  }

  .footballer {
    display: flex;
    position: static;
    max-width: 190px;
    align-self: center;
  }

  .headline-and-counter {
    margin-top: 30px;
    font-size: 0.72em 
  }
  
  .headline-and-counter-nth {
    padding-top: 30px;
    font-size: 0.72em 
  }

  .counter {
    margin-right: 8px; 
  }

  .main-text {
    font-size: 0.937em;
  }

  .athlets-connection {
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 6.25%; 
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    margin-top: 0;
  }

  .athlets-collaboration {
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 6.25%; 
  }

  .athlets-growth {
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 6.25%; 
  }

  .athlets {
    padding-top: 0px;
    margin: 0;
    display:flex;
    flex-direction: column;
  }

  .basketballer {
    display: flex;
    position: static;
    align-self: center;
  }

  .players-connection {
    padding-left: 6.25%;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 6.25%; 
    background-color: #fafafa; 
    margin-top: 0;
  }

  .players-collaboration {
    padding-left: 6.25%;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 6.25%; 
  }

  .players-growth {
    padding-left: 6.25%;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 6.25%; 
  }
  
  .players {
    padding-top: 5px;
    margin-left: 0;
    display:flex;
    flex-direction: column;
  }

  .step {
    flex-wrap: wrap;
  }

  .step-picture-card {
    object-fit: cover;
    display: flex;
    height: 351px;
    width: 100%;
    order: -1;
  }

  .step-count {
    position: absolute;
    top: 293px;
    left: 20px;
    box-sizing: border-box;
    padding: 2.5em 3em;
    background-color: #5e42b0;
    z-index: 3;
    display: flex;
    font-size: 0.58em;
  }

  .step-text {
    padding-bottom: 70px;
    padding-left: 6.25%;
    padding-right: 6.25%;
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .step-text-left {
    padding-bottom: 62px;
    padding-left: 4.16%;
    padding-right: 10%;
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .section-headline {
    font-size: 2em;
  }

  .main-text-large {
    font-size: 1em; 
    margin: 0;
  }
  
  .download-app {
    background-image: url("../img/game_767.jpg");
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .surface-app-icon {
    border-radius: 18px;
    width: 74px;
    height: 74px;
    box-sizing: border-box;
  }

  .download-app-title {
    width: 91.6%;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
 
 .header-container {
    margin-top: 40px; 
    margin-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column; 
 }

  .download-app-header {
    font-size: 2em;
    margin: -0.15em;
  }

  .download-app-slogan {
    font-size: 0.875em;
  }

   .button-container {
    width: 100%;
    display: flex;
  }

  .get-app-footer {
    display: flex;
    width: 87.5%;
    max-width: 320px;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    flex-direction: column;
  }

  .surface-logo-cont-footer {
    margin-top: 80px;
  }
}
